# Manipulating NymPy Arrays (H1)

In [1]:
import numpy as np

In [2]:
arrA = np.array([[11, 12, 13], [14, 15, 16]])
print(arrA)

[[11 12 13]
 [14 15 16]]

In [3]:
for x in arrA:
    print(x * 2)

[22 24 26]
[28 30 32]

In [4]:
for x in arrA:
    for y in x:
        print(y * 2)

22
24
26
28
30
32

In [ ]:
# The difference between the results of the first loop and the second loop is that:
# - The first loop iterates over each row (first dimension) in 'arrA' and multiplies
# the entire row (as an array) by 2, resulting in an array of multiplied values for each row.
# - The second loop goes through each individual element within each row (second dimension) and
# multiplies each one separately by 2, printing them one by one.

In [5]:
loop_result = []
for x in arrA:
    loop_result.append(x * 2)

print(loop_result)

#Here, the results is stored in 'Loop_results', which contains each row of 'arrA' multiplied by 2.
# The previous loops, this code does not print each element individually, but stores the entire modified
# rows as new arrays within 'loop_results'

[array([22, 24, 26]), array([28, 30, 32])]

# Joining and StackingArrays (H2)

In [7]:
joined_array_1 = np.concatenate((arrA, arrA), axis = 0)
print(joined_array_1)

[[11 12 13]
 [14 15 16]
 [11 12 13]
 [14 15 16]]

In [8]:
joined_array_2 = np.concatenate((arrA, arrA), axis=1)
print(joined_array_2)

[[11 12 13 11 12 13]
 [14 15 16 14 15 16]]

In [10]:
stacked_array_1 = np.stack((joined_array_1, joined_array_1))
print(stacked_array_1)

[[[11 12 13]
  [14 15 16]
  [11 12 13]
  [14 15 16]]

 [[11 12 13]
  [14 15 16]
  [11 12 13]
  [14 15 16]]]

In [12]:
try:
    stacked_array_2 = np.stack((joined_array_1, joined_array_2))
    print(stacked_array_2)
except ValueError as e:
    print("Error:", e)

# The error occurs because 'joined_array_1' and 'joined_array_2' are different in shape
# which makes them incompatible for stacking. Stacking requires arrays to have the same shape.

Error: all input arrays must have the same shape

In [13]:
another_joined_array = np.concatenate((joined_array_1, arrA), axis=0)
print(another_joined_array)

[[11 12 13]
 [14 15 16]
 [11 12 13]
 [14 15 16]
 [11 12 13]
 [14 15 16]]

In [14]:
try:
    another_2 = np.concatenate((joined_array_1, arrA), axis=1)
    print(another_2)
except ValueError as e:
    print("Error:", e)

# The error occurs because of the shapes of 'joined_array_1' and arrA' along axis=1 do align with each other,
# making them incompatible for concatentation along this axis

Error: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 4 and the array at index 1 has size 2

In [17]:
hstack_results = np.hstack((arrA, arrA))
print(hstack_results)

# 'hstack' stacks arrays horizontally (along axis=1), joining columns side by side.

[[11 12 13 11 12 13]
 [14 15 16 14 15 16]]

In [18]:
vstack_result = np.vstack((arrA, arrA))
print(vstack_result)

# 'vstack' stacks arrays vertically, joining rows on below the other

[[11 12 13]
 [14 15 16]
 [11 12 13]
 [14 15 16]]

In [19]:
dstack_result = np.dstack((arrA, arrA))
print(dstack_result)

# 'dstack' stacks arrays along a depth dimension (asxis=2), that produces a 3D array.

[[[11 11]
  [12 12]
  [13 13]]

 [[14 14]
  [15 15]
  [16 16]]]

# Splitting Arrays (H2)

In [21]:
splitsky = np.array_split(joined_array_1, 2)
print(splitsky)

# list containing 2 arrays, each with 2 dimensions

[array([[11, 12, 13],
       [14, 15, 16]]), array([[11, 12, 13],
       [14, 15, 16]])]

In [22]:
spliterino = np.array_split(joined_array_1, 3)
print(spliterino)

# List containing 3 arrays each with 2 dimensions

[array([[11, 12, 13],
       [14, 15, 16]]), array([[11, 12, 13]]), array([[14, 15, 16]])]

# Searching and Replacing Arrays Values (H2)

In [23]:
result_1 = np.where(arrA % 2 == 0, arrA, 'odd')
print(result_1)

# This code uses 'np.where' to check each element in 'arrA' to see if it is even. If the element is even it retains its value,
# and if the element is odd, it is changed to 'odd'

[['odd' '12' 'odd']
 ['14' 'odd' '16']]

# Sorting and Filtering Arrays (H2)

In [24]:
arrB = np.array([[7, 6], [13, 5], [7,3]])

In [25]:
arrB_sorted = np.sort(arrB)
print("Sorted arrB:")
print(arrB_sorted)

Sorted arrB:
[[ 6  7]
 [ 5 13]
 [ 3  7]]

In [26]:
print("Original arrB:")
print(arrB)

Original arrB:
[[ 7  6]
 [13  5]
 [ 7  3]]

In [27]:
z = arrB < 7

In [28]:
arrC = arrB[z]
print("Values in arrB less than 7:")
print(arrC)

Values in arrB less than 7:
[6 5 3]

In [29]:
y = arrB >= 7
arrD = arrB[y]
print("Values in arrB greater than or equal to 7:")
print(arrD)

Values in arrB greater than or equal to 7:
[ 7 13  7]